<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>Practiques Verbals</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   <script src="js/verbs.js"></script>
  </head>
<body >

 <div ng-app="verbsModule">
   <div ng-controller="verbsController">
      <div>
        Conjuga el verb {{verb}} en el {{tempsVerbal}} ({{formaVerbal}})
      </div>
      <div>
        Jo:<input ng-model="firstPersonSingular" placeholder="" style="{{status_fps}}"/>
      </div>
      <div>
        Tu:<input ng-model="secondPersonSingular" placeholder="" style="{{status_sps}}"/>
      </div>
      <div>
        Ell/Ella:<input ng-model="ThirdPersonSingular" placeholder="" style="{{status_tps}}"/>
      </div>
      <div>
        Nosaltres:<input ng-model="firstPersonPlural" placeholder="" style="{{status_fpp}}"/>
      </div>
      <div>
        Vosaltres:<input ng-model="secondPersonPlural" placeholder="" style="{{status_spp}}"/>
      </div>
      <div>
        Ells:<input ng-model="ThirdPersonPlural" placeholder="" style="{{status_tpp}}"/>
      </div>

      <button ng-click="checkVerb()">Check!</button>
      <button ng-click="next()">Next</button>
      <!-- <button ng-click="load()">test</button> -->
  </div>
 </div>

</html>
